*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-form{
    margin-top: 20px;
}
.recruitment-list
{
    margin-top: 20px;
}
.btn-add{
    position: absolute;
    right: 0;
    top: 60%;
    text-align: center;
}
.button-add{
    margin-top: 20px;
  }
.button-add{
    margin-top: 20px;
  }
.recruitment-information{
    margin-top: 24px;
    background-color: #fff;
    padding: 20px 20px 40px 20px;
}
.text-label{
    font-size: 17px;
    margin-top: 15px
}
.text-job-description{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 17px;
}